<div class="obj">
    <h4><a href="/{{modulePrefix}}/artefacts/{{id}}{{projParam}}">{{source}}</a></h4>
    {{#if date}}{{date}}<br/>{{/if}}{{#if bibDetails}}{{ellipsis bibDetails 80}}<br/>{{/if}}
    {{#if description}}{{{ellipsis description 80}}}<br/>{{/if}}
    {{#gt artefacts.length 0}}<i class="sidebaricon fa fa-asterisk"></i> {{artefacts.length}} associated part{{#neq artefacts.length 1}}s{{/neq}}<br/>{{/gt}}
    {{#gt transcriptions.length 0}}<i class="sidebaricon fa fa-file-text-o"></i> {{transcriptions.length}} diplomatic transcription{{#neq transcriptions.length 1}}s{{/neq}}<br/>{{/gt}}
    {{#unless transcriptions}}{{#unless artefacts}}No diplomatic transcription available<br/>{{/unless}}{{/unless}}
    {{#gt facsimiles.length 0}}<i class="sidebaricon fa fa-camera"></i> {{facsimiles.length}} facsimile{{#neq facsimiles.length 1}}s{{/neq}}<br/>{{/gt}}
    {{#unless facsimiles}}{{#unless artefacts}}No facsimile available<br/>{{/unless}}{{/unless}}
    {{#if coverImage}}
        <div class="resource facsimilePreview" data-resourceid="{{coverImage}}" data-template="facsimilePreview"></div>
    {{else}}
        {{#if facsimiles}}
            <div class="resource facsimilePreview" data-resourceid="{{facsimiles.[0]}}" data-template="facsimilePreview"></div>
        {{/if}}
    {{/if}}
    {{#if hasEditPermission}}
        <p>{{#if locked}}<i class="fa fa-lock"></i> {{/if}}<a href="/{{modulePrefix}}/artefacts/edit/{{id}}{{projParam}}" style="font-size:smaller">EDIT METADATA</a></p>
    {{/if}}
    </div>