<div class="obj">
        <h4>{{name}}</h4>
        {{#gt resources.length 0}}<p>{{resources.length}} Resource{{#neq resources.length 1}}s{{/neq}} associated with this MVD:</p>
          <ul>
            {{#each resources}}<li class="resource" data-resourceid="{{#if id}}{{id}}{{else}}{{.}}{{/if}}" data-template="summary"></li>{{/each}}
          </ul>
        {{/gt}}
        {{#if filter}}{{#neq filter undefined}}<p>({{filter}} Filter)</p>{{/neq}}{{/if}}
        <p>
        {{#if hasEditPermission}}
        <a href="/{{modulePrefix}}/mvds/edit/{{id}}{{projParam}}" style="font-size:smaller">DELETE</a>&nbsp;&nbsp;
        <a href="/collationtools/sendtomvd/{{#each resources}}{{#if id}}{{id}}{{else}}{{.}}{{/if}};{{/each}}?docpath={{name}}{{#if filter}}&filter={{filter}}{{/if}}{{projAndParam}}" style="font-size:smaller">REFRESH</a>&nbsp;&nbsp;
        {{/if}}
        <a href="/collationtools/compare{{projParam}}#{{encode name}}" style="font-size:smaller">COMPARE</a>&nbsp;&nbsp;
        <a href="/collationtools/apparatus{{projParam}}#{{encode name}}" style="font-size:smaller">TABLE</a>
        </p>
    </div>