<div>
        <h1>{{#if versionTitle}}{{upper versionTitle 80}}{{else}}UNTITLED VERSION{{/if}}</h1>
        <table class="table">
        {{#if versionTitle}}<tr><td class="metadatalabel muted">Title</td><td>{{{versionTitle}}}</td></tr>{{/if}}
        {{#if name}}<tr><td class="metadatalabel muted">Name</td><td>{{name}}</td></tr>{{/if}}
        {{#if date}}<tr><td class="metadatalabel muted">Date</td><td>{{date}}</td></tr>{{/if}}
        {{#if publisher}}<tr><td class="metadatalabel muted">Publisher</td><td>{{publisher}}</td></tr>{{/if}}
        {{#if lines}}<tr><td class="metadatalabel muted">Lines</td><td>{{lines}}</td></tr>{{/if}}
        {{#if description}}<tr><td class="metadatalabel muted">Description</td><td>{{{description}}}</td></tr>{{/if}}
        {{#if illust}}<tr><td class="metadatalabel muted">Illustrations</td><td>{{illust}}</td></tr>{{/if}}
        {{#if firstLine}}<tr><td class="metadatalabel muted">First Line</td><td>{{{firstLine}}}</td></tr>{{/if}}
        </table>
        {{#gt artefacts.length 0}}
            <h3 class="muted">Artefacts</h3><p>{{artefacts.length}} artefact{{#neq artefacts.length 1}}s{{/neq}} associated with this version:</p>
            <ul>
            {{#each artefacts}}<li><div class="artefact" data-artefactid="{{.}}" data-template="summary"></div></li>{{/each}}
            </ul>
        {{/gt}}
        {{#gt versions.length 0}}
            <h3 class="muted">Parts</h3><p>{{versions.length}} part{{#neq versions.length 1}}s{{/neq}} associated with this version:</p>
            <ul>
                {{#each versions}}<li><div class="version" data-versionid="{{.}}" data-template="summary"></div></li>{{/each}}
            </ul>
        {{/gt}}
        {{#gt transcriptions.length 0}}
           <h3 class="muted"><i class="fa fa-file-text-o"></i> Version Transcriptions</h3><p>{{transcriptions.length}} transcription{{#neq transcriptions.length 1}}s{{/neq}} associated with this version:</p>
            <ul>
            {{#each transcriptions}}<li class="resource" data-resourceid="{{.}}" data-template="summary"></li>{{/each}}
            </ul>
        {{/gt}}
        {{#gt places.length 0}}
            <h3 class="muted">Places</h3><p>{{places.length}} place{{#neq places.length 1}}s{{/neq}} associated with this version:</p>
            <ul>
            {{#each places}}<li class="place" data-placeid="{{.}}" data-template="compact"></li>{{/each}}
            </ul>
        {{/gt}}
        {{#if locked}}<i class="fa fa-lock"></i> {{/if}}
    </div>