<div class="obj">
    <h4><a href="/{{modulePrefix}}/versions/{{id}}{{projParam}}">{{{versionTitle}}} {{#if name}}({{name}}){{/if}}</a></h4>
    {{#if date}}
        {{date}}
    {{/if}}{{publisher}}
    {{#if date}}
    <br/>
    {{else}}
        {{#if publisher}}<br/>{{/if}}
    {{/if}}
    {{#if description}}{{{ellipsis description 80}}}<br/>{{/if}}
    {{#if firstLine}}<em>{{{firstLine}}}</em><br/>{{/if}}
    {{#gt transcriptions.length 0}}
        <i class="fa fa-file-text-o"></i> {{transcriptions.length}} version transcription{{#neq transcriptions.length 1}}s{{/neq}}
    {{/gt}}
    {{#unless transcriptions}}
        {{#unless versions}}
            No version transcription available<br/>
        {{/unless}}
    {{/unless}}
    {{#gt artefacts.length 0}}
        <i class="fa fa-asterisk"></i> {{artefacts.length}} associated artefact{{#neq artefacts.length 1}}s{{/neq}}<br/>
    {{/gt}}
    {{#gt versions.length 0}}
        <i class="fa fa-asterisk"></i> {{versions.length}} associated part{{#neq versions.length 1}}s{{/neq}}<br/>
    {{/gt}}
    {{#if hasEditPermission}}
        <p>{{#if locked}}<i class="fa fa-lock"></i> {{/if}}
            <a href="/{{modulePrefix}}/versions/edit/{{id}}{{projParam}}" style="font-size:smaller">EDIT METADATA</a>
        </p>
    {{/if}}
</div>