.obj {
    padding-top:1em;
}
li .obj {
    padding-top:0;
}
#newobject{
    padding-bottom:1em
}
#resultsummary{
    font-style:italic;
    display:inline-block;
}
#resultcurrent{
    display:inline-block;
    font-style:italic;
    padding-bottom:1em
}
.fill { 
    min-height: 100%;
    position:relative;
}
.filler::after {
    background-color: inherit;
    bottom: 0;
    content: "";
    right: 10px;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;  
}
.actionsidebar {
    background-color:#f5f5f5;
    padding:1em;
}
.btn-highlight{
    color:blue
}
.artefact, .version {
    margin-right:3px;
} 
ul.token-input-list-facebook {
    color:#555;
    display:inline-block;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
}
.btn-toolbar {
    clear:both;
}
.minimap {
    height:300px;
    margin-bottom:1em;
}
.place {
    clear:both;
}
.placedesc {
    height:6em;
}
.metadatalabel {
    width:8em;
}
#description, #biography {
    height: 200px;
    width: 100%
}
ul.token-input-list-facebook li input[type="text"]{
    border:none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.popover-content {
    font-size:small;
    font-weight:normal;
    max-height:200px;
    overflow:auto;
}
div.sticky-bottom {
    position:fixed; 
    bottom:0px; 
    margin-bottom:0px; 
    right:0px; 
    padding:5px;
    z-index:1000;
}
#single-editor-ui, #multi-editor-ui {
    display:none;
}

.form-center {
    text-align: center;
}
.edit-preview {
    overflow:auto;
    height: 570px;
    border: 1px solid #eeeeee;
    padding:10px;
}
.CodeMirror {
    border: 1px solid #eeeeee;
    height:500px;
}
.select2-chosen li {
    list-style-type: none;
}
.select2-search-choice-close {
    margin-top:3px;
}
.select2-choices {
  
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
