.obj {
    padding-top:1em;
}
#newobject{
    padding-bottom:1em
}
#resultsummary{
    font-style:italic;
    display:inline-block;
}
#resultcurrent{
    display:inline-block;
    font-style:italic;
    padding-bottom:1em
}
.btn-highlight{
    color:blue
}
.artefact, .version {
    margin-right:3px;
} 
ul.token-input-list-facebook {
    color:#555;
    display:inline-block;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
}
.btn-toolbar {
    clear:both;
}
.minimap {
    height:300px;
    margin-bottom:1em;
}
.placedesc {
    height:60px;
}
